.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -33px;
  gap: 0.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 46rem;
}

.input {
  height: 3.375rem;
  background-color: var(--gray-500);
  color: var(--gray-100);
  width: 39.875rem;

  padding: 0 1rem;
  border-radius: 8px;
  border: none;
}

.button {
  font-weight: bold;

  width: 5.625rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--blueDark);
  color: var(--gray-100);
  
  border-radius: 8px;
  border: none;
}