.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  .tasksContainer {
    display: flex;
    flex-direction: column;
    width: 46rem;
    height: 22rem;

    .tasksCounters {
      display: flex;
      justify-content: space-between;

      height: 17, 9375px;
      margin-bottom: 3rem;

      span:first-child {
        color: var(--blue);
      }

      span {
        color: var(--purple);
      }

      .numbers {
        display: inline;
        color: var(--gray-100);
        background-color: var(--gray-400);
        padding: 0.2rem 0.6rem;
        border-radius: 40%;
        margin-left: 0.5rem;
      }
    }

    .tasksContent {
      border-top: 1px solid var(--gray-400);
      padding-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }

    .taskListContainer {
      margin-top: 1.5rem;
      border-top: 1px solid var(--gray-300);
    }

    img {
      width: 3.5rem;
      height: 3.5rem;
    }

    p {
      font-weight: bold;
    }

    p + p {
      font-weight: normal;
      margin-top: -0.6rem;
    }
  }
}
